* {
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  display: block;
}

.board {
  display: grid;
  grid-template-areas:
    ". . . "
    ". . . "
    ". . .";
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid black;
  width: 300px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 50px;
  cursor: pointer;
}

.cell.win {
  background-color: lawngreen;
}
